################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/nRulesProcessor/obj
/nRulesProcessor/bin/Debug
/packages
